<button *ngIf="isAdmin" class="add-button" status="primary" (click)="openAddCourseDialog()">+Add Course</button>
<br><br>
<nb-card *ngFor="let course of courses" accent="info">
  <nb-card-header>{{course.title}}
    <button *ngIf="isAdmin" class="edit-button" status="warning" (click)="deleteCourse(course.id)">
      Delete Course
    </button>
    <button *ngIf="isAdmin" class="edit-button" status="primary" (click)="openEditCourseDialog(course.id)">
      Edit Course
    </button>
  </nb-card-header>
  <nb-card-body>
    {{course.description}}
    <button *ngIf="!isAdmin && isLoggedIn" class="edit-button" status="primary" (click)="enrollCourse(course.id)">
      Enroll
    </button>
  </nb-card-body>
</nb-card>