<nb-layout>

  <nb-layout-header fixed>
    <div class="header-content">
      <div class="title">Science Education Academy</div>
      <div class="auth-buttons">
        <button nbButton status="primary" (click)="navigateTo('login')">Login</button>
        <button nbButton status="success" (click)="navigateTo('register')">Register</button>
      </div>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>
<nb-sidebar tag="menu-sidebar" state="expanded">
  <app-sidebar></app-sidebar>
</nb-sidebar>
</nb-layout>
